.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.side-top{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.side-main{
  background-color: #2f3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat-top{
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-main{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat-bottom{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;

}

.side-top-left{
  background-color: #253141;
}

.side-top-left a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.side-top-right {
  font-size: 10px;
}

.side-top-right a{
  border: 1px solid lightblue;
  color: deepskyblue;
  text-decoration: none;
  padding: 14px;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}


.chat-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-button{
  margin-top: 40px;
}

.chat-button a {
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}

.chat-messages{
  margin: 10px 0;
}

.chat-message{
  display: flex;
}

.message-user{
  font-size: 16px;
  color: #434A54;
  padding-right: 10px;
}

.message-date{
  font-size: 12px;
  color: #999;
}

.lower-message{
  margin-top: 10px;
}

.message{
  font-size: 14px;
  color: #434A54;
  margin-bottom:40px;
}

.new-message {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  padding-left: 10px;
  height: 50px;
  width: 100%;
  border: none;
}

.submit-btn {
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;  
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}